*{
    font-family: "Poppins", sans-serif;
}

.oscurecer-fondo{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.404)
}
.seccion-titulo{
    text-underline-offset: 0.3rem;
}
/* Header */
.index-header{
    background-image: url(../imagenes/fondouxui.png);
    background-size: cover;
    background-position: center;
    height: 95vh;
    position: relative;
}

.index-header-btn{
    background-color: black;
    color: white;
    padding: 0.5rem 1rem; 
    border: 1px solid white;
    border-radius: 0.3rem;
}

/* Main */
.main-grid-container{
    display: grid;
    gap: 1rem;
}

/*Proyectos*/
.proyectos-container article{
    background-color: black;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    max-width: 30rem;
}
.proyectos-container h3{
    color: white;
    font-weight: 300;
    font-size: 1,1rem;
    text-align: center;
    padding: 1rem 0;
}
.proyectos-container article img{
    width: 100%;
}

/*Footer*/

.index-footer{
    background-image: url(../imagenes/fondodesarrolloweb.jpg);
    background-size: cover;
    background-repeat: no repeat;
    height: 10rem;

}
.footerlogo{
    width: 3rem;
}
.logobg{
    background-color: white;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (min-width: 600px) {
.main-grid-container{
    grid-template-columns: repeat(4, 1fr);  
}
.cursocoderuno{
     grid-area: 1 / 1 / 2 / 3;
}
.cursocoderdos{
    grid-area: 1 / 3 / 2 / 5;
}
.cursocodertres{
    grid-area: 2 / 1 / 3 / 3;
}
.cursocodercuatro{
    grid-area: 2 / 3 / 3 / 5;
}
.cursolinkedinuno{
    grid-area: 3 / 1 / 4 / 3;
}
.cursolinkedindos{
    grid-area: 3 / 3 / 4 / 5;
}
.cursolinkedintres{
    grid-area: 4 / 1 / 5 / 3;
}
.cursolinkedincuatro{
    grid-area: 4 / 3 / 5 / 5;
}
.proyectos-container article{
    max-width: 20rem;
}
}

scss/
│── _variables.scss
$font-principal: 'Poppins', sans-serif;
│── _header.scss
│── _footer.scss
│── _main.scss
main.scss

@import "variables";
@import "header";
@import "footer";
@import "main";
